@import "bootstrap";

/* ALL */

html,body {
  height:100%;
}

body{
	margin:0;
  background:#FFF;
  -webkit-font-smoothing: antialiased;
}

a {
  color: rgb(34, 34, 34);
  text-decoration: none;
}

a:hover{text-decoration: none;}

.pagination {
  padding-bottom: 20px;
  justify-content: center;
}

.sign_form {
  width: 70%;
  display: block;
  margin: auto;
}

/* articles/index */

.home-title {
  border-bottom:1px solid;
  padding-left: 10px;
  margin-top: 20px;
}

.tablist {
  text-align: center;
  margin: 0px 10%;
}

.card-list {
  height: 420px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
}

.article-images {
  max-height: 200px;
  height:200px;
  width: 100%;
  object-fit: cover;
}

.info {
  position: absolute;
  right: 0;
  bottom: 0;
  p {
    margin: 0px;
  }
  a{
    display: flex;
    justify-content: flex-end;
  }
}

.link {
  color: #1A71AC;
}
.link:hover {
  text-decoration: underline;
}

/* articles/new */

.new-article {
  padding-bottom: 20px;
  margin: auto;
}

.new-button {
  display: block;
  margin: auto;
  margin-top: 20px;
}

/* articles/show */

.sidebar {
  padding: 0px 10px;
  margin-top: 30px;
}

.sideMenuTitle {
  border-bottom:1px solid;
  text-align: center;
  margin-bottom: 20px;
}

.profile-image {
  width: 60%;
  border-radius: 200px;
  display: flex;
  margin: auto;
  object-fit: cover;
  aspect-ratio: 1;
}

.change-profile-image {
  width: 40%;
  border-radius: 200px;
  display: flex;
  margin: auto;
  aspect-ratio: 1;
  object-fit: cover;
}

.article-show {
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  padding-bottom: 40px;
}

.main-image {
  border-radius: 5px;
  //max-height: 400px;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 90%;
}

.title {
  font-size: 28px;
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.likes {
  display: flex;
  justify-content: flex-end;
  font-size: 25px;
}

.liked {
  color: #2995f4;
}

.content {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 20px;
}

.comment-field {
  width: 60%;
  display: block;
  margin: auto;
  //border: 1px solid rgba(0,0,0,.125);
  //border-radius: 0.5rem;
}

.new-comment {
  margin-bottom: 10px;
}

.comment {
  border: 1px solid #CCCCCC;
  padding: 7px 10px;
}

.article-comment {
  text-align: right;
  margin: 0px;
}

.comment-user {
  padding-bottom: 10px;
  border-bottom: 2px dotted rgba(0,0,0,.125);
  display: flex;
  width: 100%;
  align-items: center;
}

.comment-user-img {
  height: 40px;
  width: 40px;
  border-radius: 100px;
}

/* articles/edit */

.delete-button {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2em;
}

/* articles/_form */

.article-image {
  max-height: 300px;
  width: 100%;
  object-fit: cover;
  border: 1px solid rgba(0,0,0,.125);
}

#cover-image {
  cursor: pointer;
}

/* users/show */

.article-list {
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  padding: 3rem 100px 0px 100px;
}

.card-show-list {
  height: 380px;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.5rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, .2);
  margin-bottom: 48px;
}

.article-show-images {
  max-height: 250px;
  height:250px;
  width: 100%;
  object-fit: cover;
}

.edit-button {
  display: block;
  margin: auto;
  margin-top: 10px;
}

/* NavBar */

.navbar{
	margin-bottom: 0;
  border-radius: 0px;
  background-color: #00C4CC;
}
.navbar-nav {
  text-align: right;
  li {
    display: inline;
  }
}
.navbar-toggler {
  position: absolute;
  right: 0;
  margin-right: 20px;
  z-index: 1;
}
.navbar-brand{
	font-size: 25px;
	font-weight: bold;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-weight: 600;
  padding: 15px 15px;
}
.nav > li > a {
  margin-right:20px;
  color: white;
  position: relative;
  font-weight: bold;
}
a::after {
  position: absolute;
  bottom: 2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: white;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}
a:hover::after {
  bottom: -4px;
  opacity: 1;
  visibility: visible;
}

@media (max-width: 767px) {
  .article-list {
    border-left: none;
    border-right: none;
    padding: 2rem 20px;
  }
  .card-show-list {
    margin-bottom: 24px;
  }
  .article-show-images {
    max-height: 200px;
    height:200px;
  }
  .main-image {
    margin-top: 20px;
  }
  .comment-field {
    width: 90%;
  }
  .navbar-nav {
    margin-top: 10px;
    li {
      padding: 10px 0px;
      border-top: 1px solid rgba(0,0,0,.125);
      border-bottom: 1px solid rgba(0,0,0,.125);
    }
  }
  .sidebar {
    padding: 0px 10px;
    margin-top: 10px;
  }
  
  .sideMenuTitle {
    display: none;
  }
  
  .profile-image {
    width: 20%;
  }
}