<header class="navbar navbar-fixed-top navbar-expand-lg navbar-inverse">
  <div class="container">
    <nav>
      <a class="navbar-brand" href="/">Motolife</a>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ブログ作成",   '/articles/new' %></li>
        <li><%= link_to "新規登録",   '#' %></li>
        <li><%= link_to "ログイン", '#' %></li>
      </ul>
    </nav>
  </div>
</header>